<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="SYSTEM"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/system.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>logs/system.log.%i</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>9</maxIndex>
		</rollingPolicy>
		<append>false</append>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>32MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n
			</pattern>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender> 
	<root level="DEBUG">
		<appender-ref ref="SYSTEM" />
	</root>
</configuration>
